@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


body{
    background-color : #222;
    color: #eee;
    font-family: 'Rubik', sans-serif;
}

header{
    font-family: 'Rubik', sans-serif;
    font-size: 5rem;
    text-align: center;
    background-color: rgb(54, 48, 48);
    margin-left: auto;
    margin-right: auto;
}


h1{
    padding-top: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
}


.formdiv{
    width: 50%; 
    height: 100px; 
    float: left;
}

form{
    text-align: center;
    padding-left: 100px;
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
}

.formtr{
    height:175px
}

.formtd{    
    padding-right: 2rem;
}

.btn{
    font-size: 2rem;
    width: 100%;
    height: 60px;
    border-radius: 20px;
} 

.btn:hover{background-color: rgb(63, 108, 160);}


.resultdiv{
    height: 600px;
}


.resulttable{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: 2rem;
}

.resulttr{
    margin-left: auto;
    margin-right: auto;
    

}

.resulttd{
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;   
}

.resulttdb{
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;   
    border: 1px solid;
    height: 300px;
}

button{
    width: 160px;
    height: 90px;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    border-radius: 20px;
}

button:hover{
    background-color: rgb(88, 82, 82)
}



    
.showcaseclass{
    padding-top: 100px;
}

.exampledesc{
    font-size: 4rem;
    text-align: center;
}

.table4example{
    margin-left: auto;
    margin-right: auto;
    width: 95%;

}

.head{
    font-size: 2rem;
    width: 33%;
}

embed{
    width: 100%;
}

.arrowdata{
    width: 100px;
    text-align: center;
}







.margin{
    padding-bottom: 300px;
}

.bottom{
    background-color: rgb(73, 80, 80);
}

.names{
    padding-top: 20px;
    width: 100%;
    font-size: 3rem;
    text-align: center;
}

.table3{
    width: 100%;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 30px;
}


